*.elc
*.pyc
*~
*\#
.*.swp
._*
.DS_Store
.Trashes*
.Spotlight-V100*
.fseventsd*
*.tar.gz
*.retry
host_vars/
hosts
hosts.txt
roles/geerlingguy*
roles/ontic.ntp/
roles/City-of-Bloomington.*
windows.bak
group_vars/vault/
group_vars/temp/
vault.yml
