*.elc
*.pyc
*~
*\#
.*.swp
._*
.DS_Store
.Trashes*
.Spotlight-V100*
.fseventsd*
*.tar.gz
host_vars/
hosts
hosts.txt
hosts.dpkg-old
roles/ANXS.mysql/
roles/HanXHX.firewall/
roles/geerlingguy.apache/
roles/geerlingguy*
roles/kosssi.apt/
roles/kosssi.php/
roles/ontic.ntp/
windows.bak
group_vars/vault/
