ldapserver: {{ ldap_servername }} 
user_baseou: {{ ldap_user_baseou }}
computer_baseou: {{ ldap_computer_baseou }}
group_baseou: {{ ldap_group_baseou }} 

user: {{ ldap_username }} 
passwd: {{ ldap_password }}

