<config>
	<home_group>{{ usersetup_home_group }}</home_group>
	<home_perms_dir>{{ usersetup_home_dir_perms }}</home_perms_dir>
	<home_perms_file>{{ usersetup_home_file_perms }}</home_perms_file>
	<home_template>{{ usersetup_skeldir }}</home_template>
	<send_mail>{{ usersetup_sendmail }}</send_mail>

	<required_groups>
{% for group in usersetup_required_groups %}
        <group>{{ group }}</group>
{% endfor %}
	</required_groups>

	<createfolder>
{% for folder in usersetup_create_folders %}
		<name>{{ folder.name }}</name>
		<perms>{{ folder.perms }}</perms>
{% endfor %}
	</createfolder>

    <copyfile>
{% for file in usersetup_copy_files %}
		<src>{{ file.src }}</src>
		<dst>{{ file.dest }}</dst>
		<link>{{ file.link }}</link>
{% endfor %}
	</copyfile>

	<account_managers>
{% for account_manager in usersetup_account_managers %}
		<email> {{ account_manager }}</email>
{% endfor %}
	</account_managers>

	<modules>
{% for module in usersetup_modules %}
		<module>{{ module }}</module>
{% endfor %}
	</modules>
</config>

