driftfile /var/lib/ntp/ntp.drift

# Enable this if you want statistics to be logged.
#statsdir /var/log/ntpstats/

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

# NTP Servers
{% if ntp_servers %}
{% for server in ntp_servers %}
server {{ server }}
{% endfor %}
{% endif %}


# Fallback NTP Server
{% if ntp_fallback_server is defined %}
server {{ ntp_fallback_server }}
{% endif %}

# Access control configuration; see /usr/share/doc/ntp-doc/html/accopt.html for
# details.  The web page <http://support.ntp.org/bin/view/Support/AccessRestrictions>
# might also be helpful.
#
# Note that "restrict" applies to both servers and clients, so a configuration
# that might be intended to block requests from certain clients could also end
# up blocking replies from your own upstream servers.

# By default, exchange time with everybody, but don't allow configuration.
restrict -4 default kod notrap nomodify nopeer noquery
restrict -6 default kod notrap nomodify nopeer noquery

# Restrictions 

{% if ntp_restrictions is defined %}
{% for restrict in ntp_restrictions %}
restrict {{ restrict }}
{% endfor %}
{% endif %}



